[2016-12-01 13:55] stevenrowat opened #1 "Status Section: Direct readers to Github issues as well as to mailing list?"
As title:
Section, Status:
Should reader be directed to Github ‘issues’ link as well as to the mailing list?

[2016-12-01 14:13] stevenrowat opened #2 "Sec 4.4 Store/Move claim: confusing “Motivations”"
Sec 4.4 Store/Move claim: confusing “Motivations”

I believe major editing is necessary of the Motivations and Requirements sections of 4.4.
A revised text is proposed after my reasoning.

The reasoning:
It’s clear from the first sentence that the motivations we’re talking about _should_ be those of the Holder, but some motivations listed in the end of the Motivations section are not those of the

[2016-12-01 14:20] stevenrowat opened #3 "Inconsistent capitalization of certain words, distracting; needs find/replace"
Inconsistent capitalization of the same words is happening throughout the document in different places, eg., at various points I saw: verifiable claims, Verifiable Claims; credential repository, Credential Repository; Needs, Sequences; needs, sequences.

This affects readability and sometimes comprehension, because capitalized words are expected to be specific, and non-capitalized words non-specif

[2016-12-01 14:37] stevenrowat opened #4 "Possible misinterpretation of ‘provides’ in Sec 1.2; amend to ‘intended’"
Final paragraph of 1.2 reads:
“As with all models, this use case model is neither exhaustive nor complete. The listed uses cannot exhaustively capture all possible use cases. Similarly, the models do not completely characterize the use cases represented. However, the combined model provides specific, coherent guidance for the work ahead.”

To me, the final sentence, “However, the combined…” could

[2016-12-01 14:50] stevenrowat opened #5 "Sec 2. In “Holder” the second sentence omitted subject is possibly confusing."
Sec 2, “Holder” reads in full:
“The entity who controls a particular claim. Often the subject of the claim, but not always. For example, the subject of a claim might be a pet who has received a vaccination. The holder of that claim is likely the pet's owner, not the pet. A holder is typically the initiator of the transmission of a claim.”

The second sentence, “Often the subject of the claim, but

[2016-12-01 14:57] stevenrowat opened #6 "Hyphen often used incorrectly in place of dash, comma, or other word; distracting."
It’s common in programming and Internet to do this (use a hyphen instead of a dash); I think it's a holdover from the time when true dashes weren’t available with certain keyboards. But in a formal document like this I don’t think it’s appropriate.

Here’s list of places I’ve found needing a hyphen changed to a dash, or, in some cases, to a comma or another word.

Sec 3.1 “to confirm her identity

[2016-12-01 15:00] stevenrowat opened #7 "Two minor typos that should be fixed: "knwoing" for "knowing"; "the" for "they""
Sec 3.1 Typo “knwoing” First sentence:
“knowing”
Sec 3.6 L.2  Typo  “the” should be “they”
“Once they are satisfied, the[y] will...”

[2016-12-01 15:07] stevenrowat opened #8 "“digital credentials that encapsulates” has a singular-plural disagreement"
3.2 E.1  “Upon the request of her students Joleen issues digital credentials that encapsulates an extended transcript,” is hard to read with mismatched singular plural.
Either make both plural:
“Upon the request of her students Joleen issues digital credentials that encapsulate an extended transcript.”
Or both singular:
“a digital credential that encapsulates…”

And, a separate issue with the same

[2016-12-01 15:13] stevenrowat opened #9 "Formality/Informality clash in style of example"
3.2 E.3 reads:
“Rocky is an undergraduate student at Wossamotta U. His school provides a credential repository service to all students and alumni, so he chooses to use it. In his third year, Rocky decides to transfer to Moosylvania Tech. They do not offer a service, but he does not want to continue to use the service of his old (and now rival school) so he moves his claims to the service offered b

[2016-12-01 15:17] stevenrowat opened #10 "Sec 4.2 ‘Needs’ example: reference and link to C.5 Social Authority, Freedonia"
Sec 4.2: Add to ‘Needs’:  “[C.5 Social Authority: Freedonia](url)” with link to the second example in C.5, Freedonia.

In my opinion the Freedonia pseudo-anonymity is a key example for 4.2, in terms of “restrict the amount of information exposed in the claim” as 4.2 states. Pseudo-anonymity involves withholding the person’s real legal name, which is perhaps the most important piece of data that ca

[2016-12-01 15:18] stevenrowat opened #11 "Sec 4.3 and 4.5 “a inspector” should be “an inspector”; 3 instances."
As title.

[2016-12-01 15:22] stevenrowat opened #12 "5. In User Sequences: sentence has verb missing; nonsensical"
Sentence in Sec 5:
“The transaction examples in this section basic ways in which Verifiable Claims might be used.”

Suggest adding verb ‘show’:
“The transaction examples in this section show basic ways in which verifiable claims might be used.”

[2016-12-01 15:26] stevenrowat opened #13 "5. 1 Expansion 4. Italicized word ‘credential’ Overlooked link?"
Sec 5.1. Expansion 4 reads:
“They are satisfied, so the issuer generates a Verifiable Claim for Jane that includes information about her identity linked to their own trusted _credential_.”

I’m not sure why ‘credential’ is in italic here: I suspect it’s an accidental holdover from earlier drafts. I suspect it should be either plain text, or plain text with underline and link.

[2016-12-14 20:27] #11 closed

[2016-12-15 02:00] #12 closed

[2016-12-31 18:38] Fak3 opened #18 "Sec 2. “Holder” is a confusing name"
Hi. Maybe this issue is caused by my poor english, but I find "**Holder**" a slightly confusing term as it is not very clear to me, what "_to hold a claim_" could mean in this context. May "**Claimer**" be a better word here? Or maybe someone could come up with even more definite term?

[2016-12-31 21:51] Fak3 commented on #18
OTOH "Claimer" could be confused with "Issuer"...

[2017-01-06 00:33] jandrieu opened #19 "Update Needs Map and Task Map [was core v additional use cases]"
On Tue, Dec 20, 2016 at 11:49 AM, Shane McCarron <shane@spec-ops.io> wrote:

On Tue, Dec 20, 2016 at 12:48 PM, Stone, Matt <matt.stone@pearson.com> wrote:

Let's drive the group to a high level of comfort that the use cases we have are good and mostly complete so we can check it off our list.

There were two or three domains that came up at the IIW/F2F meeting. I recall Chris's Web of Trust and al

[2017-01-06 00:39] jandrieu opened #20 "Add Examples"
The current use case document is lacking in real-world examples of verifiable claims in action. This contrasts with other W3C use case documents such as the CSV on the Web's use cases: https://www.w3.org/TR/2016/NOTE-csvw-ucr-20160225/

I recommend we gather such examples and incorporate them in the document in a new section.

[2017-01-07 07:21] ghost opened #21 "Loyalty & Membership UseCase?"
I couldn't find any of these use-cases.

- Person is a member of a AirLine frequent flyer club
- Person is a retail loyalty program member
- Person is a Yacht Club member which provides access and benefits
- Person is a motoring club member which provides discounts at particular travel providers (accommodation, themeparks, etc.)

[2017-01-07 07:22] ghost opened #22 "coupons"
Person has a claim that allows them to obtain a specific deal or product in exchange for the credential.
- multi-use
- one time only
- et.al.

[2017-01-07 07:25] ghost opened #23 "Law-Enforcement Process"
Alice goes to her doctor (or domestic violence safety firm) complaining of harassing phone calls and breaches to a safety order. She provides authority for the GP to make a Telecommunications metadata request (or indeed one via Facebook, Google, Apple, Microsoft, etc.) to identify if data exists to support her claim. The doctor lodges the request, gets the results.

1. information is false - data

[2017-01-07 07:43] ghost opened #24 "old use-cases?"
We did a heap of work on use-cases which were broadly stripped down prior to the formation of the credentials CG.

Some old links include:
https://lists.w3.org/Archives/Public/public-webpayments/2014May/0079.html
https://lists.w3.org/Archives/Public/public-credentials/2015Jun/0018.html
Food Supply Chain Mapping: https://lists.w3.org/Archives/Public/public-webpayments/2015Jun/0044.html  (health and

[2017-01-07 07:44] ghost opened #25 "RDF based spec"
"Neither TURTLE nor JSON-LD should be mandated in any RDF based spec. RDF is a Language associated with many notations."
Source: https://lists.w3.org/Archives/Public/public-webpayments/2014Jul/0083.html

[2017-01-07 07:48] ghost opened #26 "Digital Wallet Portability"
An entity (payer, payee, merchant, buyer) stores wallet, credentials, and digital receipts with a particular identity/wallet/data storage provider. The entity decides to switch to a different identity/wallet/data storage provider and all wallet, receipt, and credential data comes with them.
source: https://web-payments.org/specs/FCGS/use-cases/2014-11-29/#credentials

[2017-01-07 07:49] ghost opened #27 "Pseudo-anonymity"
"Leveraging variable degrees of pseudo-anonymity per requirements of the payment transaction."

Source: https://web-payments.org/specs/FCGS/use-cases/2014-11-29/#credentials

[2017-01-07 07:51] ghost opened #28 "Digital Receipts"
A merchant cryptographically-signs a standardized offer for a good or service. A buyer purchases the good or service from the merchant resulting in a standardized, cryptographically signed, machine-readable, digital receipt that is issued to the buyer. Entities involved in the transaction (merchant, buyer, payee) may then use the receipt as a proof-of-purchase for the good or service.

source: htt

[2017-01-07 07:59] ghost opened #29 "Clothing"
Providing a printable identifier that can be used in retail products (ie: clothing).  This has a number of functional benefits including means to ensure the purchased product is authentic.

https://lists.w3.org/Archives/Public/public-webpayments/2014Sep/0099.html

[2017-01-10 16:39] stonematt commented on #20
There are several participants in this group that have adopted/implmented OBI.  Let's incoporate these as the basis for real examples.   There are some issues that we think VC might address that are shortcomings in the OBI.

[2017-01-10 19:34] gkellogg opened #30 "Requirements should be derived from use cases"
Typically, after documenting use cases, these are used to establish requirements which can then be referenced back from the specification to determine that given requirements have been satisfied. Requirements are also useful to capture the commonalities between different use cases.

The [CSV on the Web: Use Cases and Requirements document](https://www.w3.org/TR/2016/NOTE-csvw-ucr-20160225/) is one

[2017-01-12 11:18] ChristopherA opened #31 "WoT Use Case"
We currently don't have a Web Of Trust use case for verified claims. Here is what I've written up so far, and a line for each of the twelve steps of Joe's use case engagement model.

---

Alice is a 1st-generation citizen of a western country (United States, Britain, Germany), born of two immigrants from a country of significant repression (Iran, Cuba, North Korea) who are now permanent residents.

[2017-01-14 00:05] stonematt commented on #30
Are you suggesting that we add a requirements section to the existing use cases, similar to the CSV document?

[2017-01-14 14:37] msporny commented on #30
@stonematt, we do have requirements in the User Tasks section:

https://opencreds.github.io/vc-use-cases/#user-tasks

[2017-01-14 16:58] gkellogg commented on #30
@msporny yes, that section is quite a bit different than the others, so we may also have some stylistic consistency issues. Also, in that section, each "requirement" depends on some use cases, which seems backwards.

Typically, I would expect use cases to be narrative of interactions. From each of these, we should be able to derive one or more requirements of a specification that extract a particu

[2017-01-14 17:05] msporny commented on #30
Hmm, the way I read it is that each requirement points to the "Needs" of a particular use case. So I think the word "Needs" is being interpreted in two different ways by each of us.

I admit that the current layout is different from what I'm used to, but I think I like it. You talk loosely about the roles and needs of the ecosystem, and then you define the requirements at the end.

In any case, I

[2017-01-14 21:36] jandrieu commented on #30
@gkellogg I believe the mapping from use case to requirement that you're looking for is essentially what the current document attempts to do when mapping from User Needs to User Tasks. That work has room for improvement, but I *think* that's where we'll find the best fit for the sort of requirements tracking you're asking for.

One challenge with the current language is that both "use case" and "r

[2017-01-14 23:29] mediaprophet commented on #30
This also applies to: https://github.com/opencreds/vc-use-cases/issues/20#issuecomment-271626669  alongside some of the other use-cases that were developed.  It has been suggested that we simplify the use-cases; however, i'm not sure that is in fact the best approach given the rather radical implications for human activity the transference of 'claims' to online brings with it and the rather signif

[2017-01-15 01:21] gkellogg commented on #30
@msporny:

Sure, I can see this interpretation.

@jandrieu:

Yes, in that light, User Tasks is the requirements derived from the use cases. It would be useful if each use case in User Roles was referenced from such a requirement, otherwise it either represents an unmet need, or is not, in fact, a necessary use case; this is of course also valid information, and should probably be described as such

[2017-01-17 11:58] ghost opened #32 "Privacy / Dignity"
Use-Cases for Privacy / Dignity (and/or user-stories, et.al.) required.

[2017-01-17 11:58] mediaprophet commented on #32
ontology concept was outlined: https://lists.w3.org/Archives/Public/public-webpayments/2014Jul/0043.html some time ago.

[2017-01-17 12:00] mediaprophet commented on #32
"Permissions & Obligations Expression Working Group Charter (Draft)" OLE http://w3c.github.io/ole/charter.html

[2017-01-17 12:01] mediaprophet commented on #32
ODRL COMMUNITY GROUP  find ontology stuff here: https://www.w3.org/community/odrl/

[2017-01-17 12:06] jandrieu opened #33 "Convert Sequences to Essential Narratives"
I'd like to suggest rewriting Section 5 User Sequences to instead use Constantine & Lockwood's Essential Narrative format. Not only should this avoid some of the dependence on architectural assumptions, e.g., user agents and credential repositories, but it would help clarify the flow of the user experience independent of the underlying technology.

Here's a strawman example of Issue Claim as an Es

[2017-01-17 12:09] mediaprophet commented on #32
Human Dignity is more difficult to identify.  known uses of the concept of Human dignity includes predicates such as respect, confidentiality & privacy.   Indeed Article 1. of the UDHR reads "All human beings are born free and equal in dignity and rights."
http://www.un.org/en/universal-declaration-human-rights/

the supposition is that whilst a company may claim the right to privacy over the reco

[2017-01-17 12:10] jandrieu commented on #30
@gkellogg We're still a bit out of sync on terms. I'm using "Narrative" in a very specific way, distinct from a prose description and while we agree that "Scenario" is aligned with what you meant, I can't use "narrative" to describe it because "Narrative" is a term of art.

This distinction, along with @mediaprophet's observations, suggests that in order to promote conversation and consensus, we h

[2017-01-17 12:16] mediaprophet commented on #33
i quickly found:
https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/492972/gs-16-1-distributed-ledger-technology.pdf

Which appears to provide 'beyond blockchain' information about
decentralised ledgers.

On Tue, 17 Jan 2017 at 23:06 Joe Andrieu <notifications@github.com> wrote:

[2017-01-17 12:17] jandrieu opened #34 "Add lifecycle engagement models"
Lifecycle engagement models, based on the [Customer-Supplier Engagement Framework](https://kantarainitiative.org/confluence/display/infosharing/Customer-Supplier+Engagement+Model+Quick+Starter) provide a way to consider the full scope of data interactions between and individual and a potentially distributed/decentralized system over a specified "life". I'd like to present some engagement models fo

[2017-01-17 12:18] jandrieu commented on #31
@ChristopherA Agreed. I'd like to add this as an Engagement Model, which I suggest in issue #34. It's not a well-formed single use case, but I think the usage you describe is a good argument for verifiable claims and worth incorporating in the use case document.

[2017-01-17 12:22] jandrieu commented on #33
Indeed. @ChristopherA also pointed out that the properties of a decentralized ledger can be described without dependence on blockchain technology.  What isn't clear to me is whether or not (1) there is consensus that verifiable claims implies a decentralized ledger and if so, (2) whether or not we should be explicit about that distinction.

[2017-01-17 12:23] mediaprophet commented on #31
i'm going to have to digest that...   These were described to me as 'user stories'.  I really like user-stories as a way to flesh-out the intricacies involved in a circumstance which in-turn leads to an array of use-cases.   Also; WoT is used in W3 as Web of Things https://www.w3.org/WoT/ FYI.

[2017-01-17 12:38] jandrieu commented on #20
I think it probably makes sense to have a different section on Deployments.

Examples: Real world situations where verifiable claims could enable innovative use patterns (but aren't yet)
Deployments: Real world systems that are currently using a form of verifiable claims

[2017-01-17 12:43] mediaprophet commented on #33
@jandrieu I think part of the problem is the challenge to produce, as mandated, the relatively simplified counterpart of an identity ecosystem - verifiable claims (specifically).  @msporny initial works (whilst i'm sure an array of contributors were involved and I will defer to @msporny for broader clarifications) included the use of WebDHT http://opencreds.org/specs/source/webdht/  however this w

[2017-01-17 12:50] jandrieu opened #35 "Establish criteria for use cases, provide outlet for examples"
There have been a few additional use cases proposed recently, on top of the years of work exploring and distilling use cases down to a coherent set. As more people join the group (which I expect will happen once we being a working group), even more people will have their favorite use case they wish were included.

On the one hand, I want us to be able to embrace the vast world of possible applicat

[2017-01-17 12:53] ghost opened #36 "preservation (inc. version control?)"
In 2010, Jack got his first job, which he worked at for 6 months. He was unemployed for 2 months and then got another job for a short-time, before enrolling in university to become a computer scientist.

In late 2015 he had a few problems and obtained social-security.   The government decided to 'crack down' on welfare fraud, and sent jack a letter stating that he may have been earning money when

[2017-01-17 13:01] mediaprophet commented on #20
@jandrieu agreed.  I think also though, if those real-world examples have in them issues (use-cases)  that are as-yet unserviced - they're likely to also be particularly helpful...

[2017-01-17 13:59] msporny commented on #30
+1 to @jandrieu's suggestions above. Let's let him make another pass on the document making these changes and see where we are after the dust has settled.

[2017-01-17 14:13] msporny commented on #33
There is no such requirement. In practice, an issuer acting in good faith and generally trusted by the community will do some sort of vetting of the user before issuing a credential. If they don't do this, then the verifiable claims that they issue can't really be trusted.

That is not correct. DLTs are NOT a requirement for Verifiable Claims to be useful. Verifiable Claims are identifier agnostic

[2017-01-17 14:17] msporny commented on #33
It is provable that Verifiable Claims DOES NOT imply a decentralized ledger.

We will probably want to be explicit about that distinction because it continues to be a source of confusion.

[2017-01-17 14:19] msporny commented on #33
@mediaprophet said

That is exactly what this work is about:

https://w3c.github.io/flex-ledger/

[2017-01-17 14:24] msporny commented on #35
@jandrieu I agree with your suggested criteria. We should point people that list use cases to that list and give them a template to work from. This will reduce the burden on the editor's of the use cases document by ensuring that they're not attempting to constantly divine what the submitted use case is about.

As for a good process for evaluating/selecting potential use cases, these have all been

[2017-01-17 14:29] mediaprophet commented on #33
;) I'll had another look...   IMHO the vocab is confusing as the generic
understand of blockchain (from Satoshi's paper) is different to a
decentralised ledger that's leveraging off linked data.

I also liked WebDHT, or DHT generally, but not clear about the future of
these elements yet.

Although, I think perhaps we might be able to figure out the principals?

On Wed., 18 Jan. 2017, 1:19 am Manu

[2017-01-17 14:37] msporny commented on #33
Discussion about definition and usage is happening here:

https://docs.google.com/document/d/1BNKQ-hNFIpROyzQRig7a7kTBcmclAQlbv3MCCZfhHiE/edit#

The [WebDHT](http://opencreds.org/specs/source/webdht/) work was used as the basis for two things:

1) The basis for the [DID specification](https://github.com/WebOfTrustInfo/rebooting-the-web-of-trust-fall2016/raw/master/draft-documents/DIDSpecificationW

[2017-01-17 15:51] gkellogg commented on #30
+1 @jandrieu this looks like a good approach.

[2017-01-17 17:24] jandrieu commented on #33
@msporny Great. That helps. I was getting hung up on the lack of explanation about how revocation is enabled in the data model.

My current understanding: If the claim ID is a DID with a scheme that supports revocation, then we don't need anything else--inspectors use the DID mechanism. However, if the claim ID is a URL that doesn't have a known revocation method, then the claim section must provi

[2017-01-18 20:16] kjetilk opened #37 "Aggregate verifiable claims"
Consider for example, creditworthiness. A subject may have credit cards in many banks, and the banks may not be in the position to exchange information about the subjects they issue credit cards to. It may be in the bank's best interest not to do so, as it would reveal too much of the competition situation to rivals, and it may be in the subject's best interest not to do so, to not reveal informat

[2017-01-19 01:05] ChristopherA commented on #37
On Wed, Jan 18, 2017 at 12:16 PM, Kjetil Kjernsmo @kjetilk wrote:

Not necessarily. For instance, on Bitcoin and related blockchains, you can do a proof of solvency with application-specific zero-knowledge proofs (which are more efficient than the generic snark zkp’s) https://freedom-to-tinker.com/2015/10/26/provisions-how-bitcoin-exchanges-can-prove-their-solvency/

[2017-01-19 14:11] kjetilk commented on #37
Excellent! I was hoping for that! :-)

I think it is nevertheless wise to make the standard orthogonal to that, so that different ways to do it is possible.

[2017-01-24 15:58] jandrieu opened #38 "Document Prescription Use Case"
In issue # 12 of the VC-Data-Model @agropper wrote:

This issue moves my (@jandrieu) response to this use case repo:
--------------------------------
Thanks for the example, @agropper.  It's a solid example of where Verifiable Claims can help with privacy.

To help us move towards a more rigorous lexicon, I'd like to call this a "use domain" instead of a "use case." I'm hoping to establish a speci

[2017-01-24 16:08] msporny commented on #33
I don't think that there is a DID scheme that "supports revocation"... and even if there was, we may want a unified way. We need a data model for revocation.

Yes, more or less... you've got 95% of it right, and the rest are details we can get to in implementation.

[2017-01-24 16:23] jandrieu commented on #38
@agropper replied (on prior issue):
Thanks @jandrieu You're structuring this is a useful way. The correlations and transactions seem correct.

Questions:
1 - Good question. I'm not sure what to say about encryption but I suspect security design will be evident as we go forward.

2 - I agree with your framing. I don't know the legal answer to who does routine audits. I would allow for a separate re

[2017-01-24 16:26] msporny commented on #33
Added issue to add revocation section to specification: https://github.com/opencreds/vc-data-model/issues/34

[2017-01-24 17:13] burnburn commented on #33
Discussed in 24 Jan 2017 telecon (link to minutes when available)

[2017-01-24 19:38] davidnicol commented on #33
hello. I'd like to restate my usual peculiar point of view here. (1) by considering a ledger to constitute all book entries made in a currency, which is out of the standard box, as everyone is used to dollars at one bank being the same as dollars at another bank, and not questioning/appreciating the existing reliability of fractional reserve banking as an expression of a single underlying book-ent

[2017-01-31 17:05] jandrieu commented on #38
Note: I changed this back to a "use case" instead of a "use domain" because I think that change in language is going to be impossible to win.

Instead, when the distinction I was pushing for is relevant, I'll use the term "aggregate" to refer to multi-transaction use cases and either "discrete" or "singular" to refer to use cases describing a single value-creating transaction.

[2017-01-31 17:34] jandrieu commented on #38
Use case specific notes from our conference call today.

We used NIST's privacy engineering perspective to flesh out this use case and better understand the privacy implications. http://nvlpubs.nist.gov/nistpubs/ir/2017/NIST.IR.8062.pdf

The goal is to distill this use case down to a single context so that we can understand the data actions within that context. Such actions may cross trust boundar

[2017-01-31 18:54] agropper commented on #38
To External domains and entities, I might add:
- Decision support service (e.g.: GoodRx) accessible to either the prescriber before the order is signed or the patient before or after the order is signed. This is a cousin to the formulary query that might be done against an insurance system but the decision support system should not be able to correlate the request to any particular patient or pres

[2017-02-01 15:59] jandrieu commented on #38
Ok. So, is there a generic term for the object of the prescription?  When we say we go to the pharmacy to pick up a prescription, that's not quite correct, as we are actually picking up the medication (assuming a pharmacological prescription).

[2017-02-01 16:06] mediaprophet commented on #38
On Wed., 1 Feb. 2017, 4:34 am Joe Andrieu, <notifications@github.com> wrote:

Some controlled substances have a seperate process for providing approvals
prior to specialised doctors being able to prescribe.

Also, specialists providing the means for GP's to write repeats using the
same authorisation, et.al.

[2017-02-01 16:22] mediaprophet commented on #38
Some Pharmacists also make things:
https://en.m.wikipedia.org/wiki/Compounding

And/or specialise in different fields (ie: renal)

On Thu., 2 Feb. 2017, 3:06 am Timothy Holborn, <timothy.holborn@gmail.com>
wrote:

[2017-02-02 18:38] stonematt opened #39 "Use case for personal curation in the repository"
I'm trying to map my expectations of how we issue and validate professional credentials into the documented use cases, and I think we have a gap.  UC C.4  https://opencreds.github.io/vc-use-cases/#professional-credentials implies what I'm thinking, but I'd like to express a use case that's centered around the individual's process for collecting and curating their own data.

This process would brid

[2017-02-02 18:52] jandrieu commented on #34
My group work from Rebooting Web of Trust III just reached a semi-public draft for comment. It's likely a better example of the kind of Engagement Model I'm proposing we add here. In fact, when its published, I'd like the group to consider the Joram 1.0.0 Engagement Model as input for the "Refugee Crisis" aggregate use case.

https://docs.google.com/document/d/1GLejHAyOGcFZMDH23VpBK5as_474gt1tdYZI

[2017-02-02 18:56] jandrieu commented on #39
I agree. After diving in with the prescription use case #38 I had a similar thought.

If we're on the same page, I'd suggest we document a few (not dozens, just a few) of these "porftolio management" exercises using Engagement Models, which I proposed in #34.

The Joram 1.0.0 Engagement Model I've been working on from Rebooting Web of Trust is probably a good example of that. https://docs.google.c

[2017-02-02 19:01] stonematt opened #40 "Issuer control of granularity and decomposability of claims"
In use case E.1 Digital Transcript (https://opencreds.github.io/vc-use-cases/#education), Joleen is spearheading the concept of a 'extended transcript' - My question is about the "basic transcript" - and  how it's a model for any issuer tracking collections of evidence that may or may not be in a hierarchy.

In the simple university case, there is a hierarchy of achievements from coursework -> exa

[2017-02-02 19:19] jandrieu commented on #34
Here's an image of the Information Lifecycle Engagement Framework I'm proposing to use for engagement models:

![information lifecycle engagement framework](https://cloud.githubusercontent.com/assets/186831/22564455/6c9609ac-e939-11e6-9058-889e24b5679d.png)

[2017-02-02 19:22] jandrieu commented on #34
Each phase in the model is a concise prose description of one or two interactions that exemplify the phase. Rather than attempting to describe every interaction in a specific customer journey, an engagement model captures illustrative interactions for each phase in the lifecycle. The whole of the model should be readable as a sympathetic narrative, allowing readers to understand the motivations of

[2017-02-03 17:59] stonematt commented on #18
I read both 'Holder' and 'Presenter' as "responsible party"  If my spouse has a Power of Attorney for me, I'm the subject (still with rights) and she 'Holds' the Power of Attorney which grants certain rights to her to act on my behalf.

The term Holder may not be perfect, but barring any protests from the group, I suggest we close this issue and continue to use Holder.

[2017-02-03 18:10] Fak3 commented on #18
Personally I like 'Presenter' a lot more.

With my poor english - to 'Hold' something suggests that you physically have the item at hand, which is not really the case, as in vc-model your claims a physically 'held' by the (hosting) service provider.

[2017-06-02 04:21] riannella opened #42 "VC use cases - "Dispute" User task"
Feedback on: https://w3c.github.io/vc-use-cases/

There is a requirement to sometimes dispute Claims (from any entity) in cases where this is disagreement about a statement.

This could be considered as a new “User Task”.

[2017-08-29 05:53] jandrieu commented on #18
This should be closed. We had an extended discussion in meetings and in issue 56 of the data model https://github.com/w3c/vc-data-model/pull/56 . The result was a poll that gave the editors guidance for the current language.  See the https://github.com/w3c/vc-data-model for more.

[2017-10-06 13:42] RieksJ commented on #42
I'm curious what that use-case would be. My phantasy falls short here. IMHO, an Issuer will only provide claims that he thinks/claims to be true. If he changes his mind, he can revoke the claim. Everyone else is free to disagree with any issuer (and provide his own claims if need be) - after all, 'truth' is essentially subjective.

[2017-10-09 00:01] riannella commented on #42
Music  is a good use case. Who owns what rights is often under dispute, with claims and counterclaims from all sorts of stakeholders.

So the use case would allow anyone to disagree with other claims, but the key point is that that are identifying a specific claim and making assertions related to that (in context).

[2017-10-10 15:08] jandrieu opened #47 "URL in github needs updating"
At https://github.com/w3c/vc-use-cases
it links to https://opencreds.github.io/vc-use-cases/
It should link to https://w3c.github.io/vc-use-cases/

@msporny I believe you know how to fix this.

[2017-10-10 15:12] jandrieu opened #48 "Add retail use cases"
The charter calls out three use cases that should be added to the Needs Map:
- Loyalty programs
- Digital offers
- Digital receipts

[2017-10-10 15:18] jandrieu opened #49 "Is storage out of scope?"
In terms of the data-model, storage is almost certainly out of scope. However, if storage as a use case needs support somehow in the data model maybe we should include it.

The recent round of terminology discussion boiled down to three key actions

- issuing credentials
- presenting profiles
- verifying credentials and profiles

In particular, nothing in the conversation seemed to vary based on *

[2017-10-10 15:30] jandrieu opened #50 "New section - Evidence of applicability"
By the charter, the use case document should have a section of evidence of applicability.

[2017-10-10 15:31] jandrieu opened #51 "New section: gap analysis"
By charter, the use case document needs a section on gap analysis.

[2017-10-10 15:35] jandrieu opened #52 "New section: privacy risks"
Per charter, we need a section on privacy risks. Some question whether this is a separate note or not.

[2017-10-10 15:40] #7 closed

[2017-10-10 15:40] #8 closed

[2017-10-16 18:59] jandrewh opened #53 "Supervised Remote In-Person Identity Proofing"
There seems to be a lot of "uses" and interoperability content regarding "verifiable claims". How to use. How to create. How a User Agent and End User interact regarding the "verifiable claim". Unless I'm missing something I do not see any content on registration of an individual seeking to establish their "verifiable claim" that once established, will be how an End User prefers to be identified w

[2017-10-16 20:44] dlongley commented on #53
The reason why you may not see that anywhere is because it's generally out of scope for the group at this time. The current design creates an abstraction layer where that process can be solely determined by individual issuers of verifiable claims without impacting the rest of the architecture (the parts that are in scope).

[2017-10-17 15:44] jandrewh commented on #53
I hear this assertion,
"The current design creates an abstraction layer where that process can be solely determined by individual issuers of verifiable claims"
and suggesting, I assume, that the issuers of authenticators e.g. CSP's, would determine the registration process.

After working in the identity space now since 2006, and after seeing 1000's of data breaches with reactionary responses, whi

[2017-10-18 06:57] RieksJ commented on #42
Ok. So stakeholders SH[i] all make/issue claims such as [`SubjectIdentifier`, `has right to X for`, `music piece identifier`, `signature(SH[i])`]. Then, anyone can pick any claim of its choosing and start to reason/argue something based on that chosen claim, and even issue new claims/assertions based on such reasoning.

That's life. People do that. I still don't get what the problem is that this u

[2017-10-18 07:11] mediaprophet commented on #42
Or fake news.

Someone asserts a dispute claim against a Uri.

On Wed., 18 Oct. 2017, 6:10 pm Timothy Holborn, <timothy.holborn@gmail.com>
wrote:

[2017-10-18 07:14] RieksJ commented on #42
If the use case is about resolving disputes (as the title suggests), then what you have is two stakeholders each of which have an argument (for the construction of which they could use VCs) that leads to a conclusion that differs from the conclusion reached by the the other stakeholder. That's ok, as truth is subjective, and each stakeholder is free to decide what is true for him (this is fundamen

[2017-10-18 08:30] riannella commented on #42
The use case is about **identifying** that there are disputed claims.

[2017-10-18 08:43] mediaprophet commented on #42
+1

On Wed, 18 Oct 2017 at 19:30 Renato Iannella <notifications@github.com>
wrote:

[2017-10-30 13:55] Fak3 commented on #18
@jandriu, thanks, the discussion helped me to discover more usecases i was unaware of.
But the terminology throughout the docs is still a bit confusing. Recently it was again brought up in the related issue: https://github.com/w3c/vc-data-model/issues/80

[2018-01-31 14:19] BigBlueHat commented on #47
Just mentioned this on yesterdays call. Would help folks interested in the work find the work. 😃

[2018-05-03 18:47] stonematt opened #55 "github.io link incorrect"
the github.io link in the header of this repo still references opencreds. should reference w3c:

change https://opencreds.github.io/vc-use-cases/
to https://w3c.github.io/vc-use-cases/

[2018-05-04 14:15] lwolberg opened #56 "Typos in 3.1 Finance, L.4 Refugee crisis"
Below, two typos preceeded by question mark (?)

3.1 Finance
a high value placed on ?knwoing exactly with

L.4 Refugee crisis
just across the ?broder

[2018-05-04 14:16] lwolberg opened #57 "Consistency of 5.1 v 5.2"
somewhat inconsistent message between
5.1 How a verifiable claim might be created: UA interacts with User to display/save credentials, but
5.2 How a verifiable claim might be used: Credentials Repository interacts with User to display/select

[2018-05-04 14:34] stonematt commented on #50
working on a section called "Focal use cases" that will demonstrate evidence of applicability. PR coming shortly.

[2018-05-04 14:35] stonematt commented on #48
Focal user case related to flying w/ minor, includes a retail discount/upgrade case.

[2018-05-04 14:38] stonematt commented on #47
i opened a duplicate of this yesterday with issue #55  -- sorry @msporny

[2018-05-15 16:12] liamquin commented on #55
Fixed; also noted README.md links to itself, so i made it link to the preview of the document too.

[2018-05-15 16:12] #55 closed

[2018-05-15 16:15] stonematt commented on #47
thanks @liamquin

[2018-05-15 16:15] #47 closed

[2018-06-04 13:56] stonematt opened #71 "Establish Guardianship of minor in Traveler Use Case"
How is guardianship established in travel with minor case? Is it required for this use case?

[2018-06-07 13:32] TzviyaSiegman commented on #71
@stonematt I think the use case as it's written is fairly clear. Guardianship is not a part of it except in the scenario section. We may wish to remove any mention of the word guardian and simply state that HappyAir must confirm that Malathi is legally allowed to take Anand out of the country.

There was a request to simplify this story. We could focus on travel in specific countries and we could

[2018-06-07 13:36] TzviyaSiegman commented on #71
In terms of duplicating today's process and VC-based world: the permission credential is where this gets confusing. We have completely replaced today's reality (in USA) in which parent A must provide a letter to document that parent B may leave country with child and get it notarized. The VC-based future in this use case requires mutual permission. We either need to flesh this out or go back to th

[2018-06-07 16:44] stonematt commented on #71
@TzviyaSiegman - we don't address the upgrade (commerce) element very directly, so maybe it doesn't matter as much.  The "permission to travel" element includes some issues like counter-signing from both parents or dual signature (what happens when you need permission from 2 parties).  Is that the true "sticky wicket" in this case?  cc/ @jandrieu

[2018-06-07 16:58] stonematt commented on #56
closed in PR #72

[2018-06-07 16:58] #56 closed

[2018-06-08 15:52] stonematt commented on #71
@TzviyaSiegman and @jandrieu We Decided to remove language related to guardianship and introduce the birth certificate VC to establish the relationship between parents and minor.  Language to be added in a PR shortly.

[2018-06-14 17:02] jandrieu opened #74 "Add Accessibility Use Case for under 3.3 Healthcare"
H.5 Proving Legal Disability Status

Trina, who is legally blind is currently unemployed and needs to use the local free disability ride service to get to the employment office. To use this service she is required to verify that she, in fact, maintains legal disability status. Trina provides her government-issued disability credential to sign up for the ride service, and in doing so it is not nece

[2018-06-24 21:46] jules77 commented on #42
I am disputing the use of this on my Android,vyou gave civil and privacy violation going on. If a company has to hide behind this and spy on someone I have big problems with you and the company.
Remove yourself now.
You don't have permission from me to be on my phone.

[2018-06-24 21:52] jules77 commented on #39
Want can  Justified anyone using this. I am against this. Because someone hides behind this kind of forum.
Want do they got to hide. Bring it out in the open. You have crossed my civil rights and privacy rights as I see it

[2018-06-27 18:22] jandrieu opened #75 "Holder Bundling of Separate Claims"
Imported from data model issue https://github.com/w3c/vc-data-model/issues/70:

Originally posed by @David-Chadwick :

[code]

[code]

[code]

[2018-06-28 17:49] stonematt commented on #71
addressed in PR73

[2018-06-28 17:49] #71 closed

[2018-06-28 18:04] TzviyaSiegman commented on #75
From meeting on 6/26/18 (https://www.w3.org/2018/06/26-vcwg-minutes.html):

This could be addressed with some best practices around granularity.

@msporny would you please help us reconstruct the use case you mentioned at the meeting?

[2018-06-28 18:41] jandrieu commented on #75
One note. @David-Chadwick opens with

On its surface, this simply isn't possible.

While we might be able to come up with some scheme that could theoretically allow a credential to restrict "sibling" credentials in the presentation (such that the presentation is verified if and only if the restrictions are met by the set of bundled credentials), we can't solve it generically. The individual can al

[2018-07-03 08:19] David-Chadwick commented on #75
@jandrieu. I agree that the spec cannot mandate that a holder does not misuse the VCs that they hold. Thus it is the responsibility of the issuer to protect against this as far as is possible - in which case a non-normative section about best issuing practices would be beneficial. It could even be an annex to the data model document if desired.

[2018-07-10 05:05] stonematt commented on #50
@jandrieu and @TzviyaSiegman can we close this issues with the addition of the focal use cases?

[2018-07-10 05:07] stonematt commented on #49
we've had several discussions in our focal use case meeting about the role of the wallet.  should we add a description/definition in the document somewhere with some scope around the wallet as the storage vessel?

[2018-07-10 05:08] stonematt commented on #34
@jandrieu is still an open issue to discuss?

[2018-07-10 12:50] jandrieu commented on #49
I think it would be good to describe where the credentials are stored in the focal use cases. In particular, it would be nice if we highlight different options such as custodial wallets (Coinbase), software wallets, hardware wallets, and distributed "wallets" that use something like IPFS to store the actual credentials, or Veres One, which I believe puts credentials on their blockchain (that might

[2018-07-10 12:50] TzviyaSiegman commented on #49
@stonematt i think a definition of wallet would be helpful

[2018-07-10 13:13] msporny commented on #49
Yes, please. I've noticed people talking about "holder software" because we haven't filled that void yet. We had called it "Credential Repository" in the past... of which digital wallets, personal data stores, hubs, etc. would be specific implementations of the general concept.

[2018-07-10 14:20] jandrieu commented on #34
Yes. The ccg has some work items that child floor into this. Might go into the use cases document, or perhaps get published as separate notes.

[2018-07-13 14:30] CipherQueen opened #76 "Typos"
Yes, it is unfair to proofread a draft document, but if we are getting ready to share and ask for comments from a wider audience, I thought I'd document some nits. The goal is to make the document easier to read. It's great work!

Attached is a document with nits and typos.
[Verifiable Claims Use Cases notes, V1.docx](https://github.com/w3c/vc-use-cases/files/2193035/Verifiable.Claims.Use.Cases.no

[2018-07-13 14:50] stonematt commented on #76
thanks for this review!

[2018-07-27 16:32] stonematt commented on #1
GitHub reference are included in the header

[2018-07-27 16:32] #1 closed

[2018-07-27 16:39] TzviyaSiegman commented on #5
From Data Model document, definition of holder is:

A role an entity may perform by possessing one or more verifiable credentials. A holder is usually, but not always, the subject of the verifiable credentials that they are holding. Holders store their credentials in credential repositories.
(see https://w3c.github.io/vc-data-model/#terminology)

[2018-07-27 16:40] stonematt commented on #6
updated in pr #77 will confirm we got them all..

[2018-07-27 16:41] stonematt commented on #9
we'll choose to leave the original authors voice in place....

[2018-07-27 16:41] #9 closed

[2018-07-27 16:42] stonematt commented on #9
We'll choose to leave the original author's voice in place for this.

[2018-07-27 17:00] stonematt commented on #10
How explicit should we be in the DM about issuer’s role in creating ZKP credentials for things like withholding “name” as discussed in the use cases section 3.5.
https://w3c.github.io/vc-use-cases/#professional-credentials item C.5 Social authority

in other words, can I say “I’m in control of credential X in which I’m the subject, but you can’t know who I really am”

I'm opening this question in

[2018-07-27 19:33] stonematt commented on #39
@jandrieu would a simple definition and description of the "wallet" be sufficient to handle this issue?

[2018-07-27 21:23] stonematt opened #78 "Broken Links in respec"
These links in the use case documents are broken - probably respec variable?

- File a bug: https://github.com/w3c/issues/
- Commit history: https://github.com/w3c/commits/gh-pages
- Pull requests: https://github.com/w3c/pulls/

[2018-07-27 21:30] stonematt opened #79 "Roles and Tasks"
@cipherqueen made a couple comments about the terms "User Roles" and "User Tasks" in issue #76

Current, the title of this section is: “User Roles”
Suggestion: “Roles”
Who are users? What is a ‘user role’?

Suggestion: Figure 3: Verifiable Claims, Tasks
The figure label at the top of the figure is “Verifiable Claims User Tasks”
Who is the “user”? perhaps we can delete the word, “user”?

These are

[2018-07-27 21:32] stonematt opened #80 "New icons for Verifiable Claims Roleas"
@cipherqueen suggested new icons for Figure of Verifiable Claims Roles in issue #76

Replace human icons with different icons for the Issuer and Inspector, below is an example. I’m willing to work with the right people to develop some icons for our documents.

[2018-07-27 22:04] stonematt commented on #76
@CipherQueen the last couple of PRs were to respond to your feedback.  I also opened a couple issues that represent non-editorial changes that we can track individually.

[2018-07-27 22:04] #76 closed

[2018-07-27 22:14] #6 closed

[2018-07-27 22:23] stonematt commented on #4
updated in commit b44fc75 https://github.com/w3c/vc-use-cases/commit/b44fc75ed2efa021666158ee60d1f8189e4a0dae

[2018-07-27 22:23] #4 closed

[2018-07-27 22:24] #3 closed

[2018-07-27 22:40] #5 closed

[2018-07-29 13:07] CipherQueen commented on #79
@stonematt yes, it is clear enough. At first, I thought "entity roles" would be clearer. As long as the reader understands that "user" is a generic term, as described in 1.2, this is fine. It jumped out during the first reading. Now that I have re-read the document it makes sense.

[2018-07-30 16:44] jandrieu commented on #39
@stonematt Perhaps, although I worry a simple definition will either over-simplify or be too complex. We have at least seven things a wallet /might/ keep track of:
1. keys / authentication credentials
2. verifiable credentials aka attributes/data
3. presentations aka profiles/personas
4. consent records (both for the individual and presentation recipients as consenting to specific terms)
5. suppor

[2018-08-10 16:42] jandrieu commented on #20
Looking at the charter, there is a need for "by real world evidence of applicability". Now that we've made progress on the focal use cases, we think those provide the evidence needed.

[2018-08-10 16:43] stonematt commented on #21
Use Case document is representative, not comprehensive.  Use cases similar to these exist.

[2018-08-10 16:43] #21 closed

[2018-08-10 16:43] jandrieu commented on #20
Closing.

[2018-08-10 16:43] #20 closed

[2018-08-10 16:56] jandrieu commented on #22
Multi-use versus one-time only is a matter of process control or protocol. The real impact of limited use is one of privacy. Limited use credentials (limited in count), need to phone home or in some other way connect to a verifiable accounting system. We are adding a voucher to the travel use case that will capture this requirement in a modest form.

[2018-08-10 16:56] #22 closed

[2018-09-14 16:50] jandrieu commented on #42
This issue is special case of credentials about other credentials. For example, in the copyright case, if we assume an initial verifiable credential (VC1) that asserts copyright to a particular work--perhaps with a hash that formally identifies a particular embodiment--then a dispute of that copyright can be presented as a new credential (VC2) which asserts that the first (VC1) is incorrect, with

[2018-09-14 16:52] jandrieu commented on #51
Moved to data-model spec: https://github.com/w3c/vc-data-model/issues/233

[2018-09-24 22:43] gjgd opened #85 "Dead link"
In https://www.w3.org/2017/05/vc-use-cases/CGFR/2017-05-01/
the link **Latest editor's draft:** https://opencreds.github.io/vc-use-cases/
is dead

[2018-09-27 18:21] stonematt commented on #2
Addressed in PR #83

[2018-09-27 18:21] #2 closed

[2018-09-28 16:32] stonematt opened #88 "Update User Task Image"
Update Figure 3 user tasks
- better visual alignment of subject/holder
- keep number 1, 2,3 that are clearly sequential
- consider how to identify others tasks that are not sequential (not numbered perhaps)
- reconcile each task to text in section 4

[2018-09-28 16:45] stonematt commented on #79
closing based on @CipherQueen second reading.

[2018-09-28 16:45] #79 closed

[2018-09-28 16:49] TzviyaSiegman commented on #75
@jandrieu and @David-Chadwick please remind us what the exact use case is. Could you please provide language to add to the UC document or should defer to a later version?

[2018-09-28 16:54] stonematt commented on #57
currently section 6.1 and 6.2

@lwolberg Can you please elaborate.  It not necessarily wrong for the process and agents to be different when we're describing different processes of creation v. usage.

[2018-09-28 17:01] stonematt commented on #53
While this is an important topic, the charter fo the VCWG is focused on a mechanism for issuer to assert a claim about a subject.   We are not focused on identity proofing either the issuer or subject.  In fact, the charter (https://www.w3.org/2017/vc/charter.html) reserves the following as out of scope: Attempt to address the larger problem of "Identity on the Web/Internet"

[2018-09-28 17:01] #53 closed

[2018-09-28 17:04] stonematt commented on #52
@jandrieu  can we add a paragraph early in the document calling out the essential nature of privacy protections for this work, and refer to the threat model sections throughout plus include/reference the PING assessment?

[2018-09-28 17:05] TzviyaSiegman commented on #50
@stonematt, yes we can close

[2018-09-28 17:05] #50 closed

[2018-10-04 22:59] jandrieu commented on #38
We have H.1 Prescribing as one of our use cases. I'd personally love to see the additional detail proposed here. I'm just not sure where it would go.

[2018-10-04 23:02] jandrieu commented on #37
Potential use case: adding/updating in the Finance section. Perhaps F.6 Proving proof of income.

[2018-10-04 23:06] jandrieu commented on #29
This might be a suitable use case for the DID spec, https://github.com/w3c-ccg/did-spec, which deals with decentralized identifiers. However, I'm not seeing how it demonstrates anything for Verifiable Credentials.

[2018-10-04 23:10] jandrieu commented on #27
I'm not sure what this means. Is this about somehow having variable degrees of pseudonymity in a VC? Each VC has at most one identifier. There has been the suggestion that even this id is a privacy problem, as it threatens to become a super cookie.

So, what is this variable degree and how does it work with Verifiable Credentials?

[2018-10-04 23:16] jandrieu commented on #26
This ability to move credentials is covered in the Task Map, **#6 Move Claim**. It is also in **F.1 Reuse Know Your Customer**, **E.3 Transferring Schools**, and **C.4 New Employer**.

We don't have a direct example of a wallet use case, although perhaps digital receipts has some overlap. One challenge is that the original post combined a bunch of credentials into a not-yet existing wallet to allo

[2018-10-04 23:35] jandrieu commented on #23
I simply don't understand this issue. The title includes the phrase "Law enforcement" but the description doesn't mention the law, cops, or the courts. It's not clear to me where the verifiable credential is being created. I also wasn't aware that a GP could make a telecommunications request as suggested here. Is the credential issued by the Doctor? Or does Alice first create a credential, which t

[2018-10-05 00:42] agropper commented on #38
The
https://github.com/WebOfTrustInfo/rwot7/blob/master/draft-documents/Agent-Communication-Protocols.md paper provides additional detail including the credential of the issuer and revocation to avoid double spend of the prescription document. Im not sure if and where to add more details.

[2018-10-05 16:19] jandrieu commented on #42
We added a credential about a credential to the PADI use case. Closing this as resolved.

[2018-10-05 16:19] #42 closed

[2018-10-05 16:35] stonematt opened #89 "Can I verifify/validate/understand who the issuer is"
when a verifier gets a VC, what do they know about an issuer and how can they disambiguate them from potential counterfeits?

[2018-10-05 16:36] jandrieu commented on #89
4.3 Verify Claim
Requirement
It MUST be possible for an inspector to verify that the credential is an authentic statement of an issuer's claims about the subject. The verifying entity must have the capability to connect the issuer’s identity to its credential identifier and the subject's identity to their identifier as indicated in the credential. The issuer’s verification information, such as its

[2018-10-05 16:38] jandrieu commented on #39
https://github.com/WebOfTrustInfo/rwot7/blob/master/draft-documents/Digital%20Credential%20Wallet.md

[2018-10-05 16:59] stonematt commented on #39
by Curate, I mean the actions available to the holder, as they choose an arbitrary collection of verifiable credentials that they collect into a Verifiable Presentation to present to a verifier.

[2018-10-22 21:33] dlongley commented on #51
Moved back here -- this belongs in the use cases doc (or elsewhere), not in the data model spec.

[2018-10-24 13:46] stonematt commented on #78
just confirmed these are now working...

[2018-10-24 13:46] #78 closed

[2018-10-25 14:55] msporny opened #90 "Add a Threat Model section"
Add a threat model section to the use cases document, including @ChristopherA's list of threats to think about.

[2018-10-25 15:11] brentzundel commented on #90
Transcription of the whiteboard from TPAC discussion:
Coercion/consent threats may need to be added to the "traveler focal use case"
Points of consent in the use case:
- Rajesh consents for Anand to travel with Malathi
- Malathi consents to upgrade
- Agent consents to accept upgrade coupon and the credential from Rajesh
- Airline consents to accept agent's purchase of tickets in Malathi's behalf,

[2018-11-04 23:02] CipherQueen commented on #90
Below is a start at creating text to be inserted into the document. I've also attached the file. @msporny @brentzundel @David-Chadwick comments welcome.

![image](https://user-images.githubusercontent.com/33334779/47971076-302d9080-e053-11e8-99f7-60c6a8654fcf.png)
[W3C VC Working Group.docx](https://github.com/w3c/vc-use-cases/files/2546406/W3C.VC.Working.Group.docx)

[2018-11-12 17:55] David-Chadwick commented on #90
I think this vulnerability review is far too wide. We clearly cannot do anything about anyone cutting the wire. I think a better approach is to say

These are the threats we are addressing
A
A
A

These are the threats we are not addressing
B
B
(preferably with a rationale for each)
Under B I would list things like chip failure, cutting the wire, hurricanes, faulty crypto etc. Everything that is be

[2018-11-12 18:55] jandrieu commented on #90
I think that's a bit dismissive.

The fact is that for use cases that we advocate, there are threats for which the best answer is outside the technology. If we say VCs work in a particular use, we should illustrate the best response to the threats people will care about most. Many of those responses are in the human systems, NOT in the technology.

Anyone who adopts VCs without understanding the p

[2018-11-13 22:49] CipherQueen commented on #90
My post above from 9 days ago was not complete. The document attachment is complete, but the cut and paste text was not complete. Below is the complete cut and past, note the mention of an implementation guide.

---
Repost, with all of the text:

![image](https://user-images.githubusercontent.com/33334779/48448217-e126e000-e763-11e8-924d-8b8e90788353.png)
![image](https://user-images.githubusercon

[2018-11-13 22:55] CipherQueen commented on #90
As @jandrieu noted above, we need to document best practices or guidelines for dealing with "land mines." This could be provided in a future implementation guide, or we can roll up our sleeves and provide more content now.

I understand @David-Chadwick when he states the scope is too broad. However, the goal of a threat model is to consider potential threats. How do we arbitrarily draw the line, a

[2018-11-14 12:16] David-Chadwick commented on #90
@jandrieu "I think that's a bit dismissive"
Not if you delve a bit deeper into what I wrote. For example, untrustworthy respository would cover every threat to the repository that meant it was not available to the user 24/24 and was not secure enough or privacy protecting enough. So it would cover threats such as: access to the repository is lost, repository (or its contents) are stolen, repositor

[2018-11-19 00:38] CipherQueen commented on #90
@David-Chadwick my goal was to consider "categories" of potential threats. It is an ongoing process to consider all potential threats. You make a good point to consider "realistic" threats, but that is a difficult task, and open to subjectivity. We can do better by guiding implementers to cast a wide net.

[2018-12-04 19:14] Atavic commented on #90
I see the list follows the OSI Layers. For me *8. 9.* and *10.* should be on top like this:
*10. 9. 8.* then *1.* and following OSI Layers.

[2019-01-25 08:28] westurner opened #91 "Typo: contuning education"
https://w3c.github.io/vc-use-cases/#professional-credentials

[2019-02-09 06:16] asghaier76 opened #92 "Amend task can be assigned to holder"
In section 4 (figure verifiable claims user tasks) the amend task is assigned to the issuer only. I think this task can also be assigned to holder or another task named update should be included. The use case of such task can be in the case of a driver license and the holder would need to update the address field upon moving.

[2019-04-16 11:56] joshueoconnor commented on #30
Very interesting discussion - that is helpful for some of my current work on both the definition and disambiguation of use cases, and user needs and the requirements for both at W3C.

[2019-04-23 15:38] jandrieu commented on #35
Update Need Maps, potentially including new use cases.

[2019-04-23 15:38] jandrieu commented on #33
Work moved beyond this. We won't be including this in the Use Case document.

[2019-04-23 15:38] #33 closed

[2019-04-23 15:41] stonematt commented on #40
Supported if Issuer uses a ZKP or selective disclosure technology

[2019-04-23 15:42] dlongley commented on #40
Also supported if the issuer constructs more than one credential (atomizes them as needed) to enable the holder to selectively disclose (where the selection choices are up to the options provided by the issuer via multiple VCs).

[2019-04-23 15:42] jandrieu commented on #40
Update at least one use case to show the issuer explicitly making a credential with selective disclosure.

[2019-04-23 15:44] stonematt commented on #48
Look for input from Nick at Coupon Media

[2019-04-23 15:54] jandrieu commented on #49
update to amend in use case document

[2019-05-08 06:33] RieksJ opened #94 "Add use-case 'Fraud Detection' in retail section"
Here is a suggestion for a new use-case in the retail section of document https://www.w3.org/TR/verifiable-claims-use-cases:

### R.3 Fraud Detection
On a bright Sunday, Oskar remembers that he still needs to buy his wife a precious gift for their wedding anniversary. However, he is acutely aware that it is precisely in weekends that gangs set up fraudulent web shops that claim to sell such gifts,

[2019-05-08 06:33] RieksJ opened #95 "Add user task 'Trust claim'"
The [Motivation section in 4.1 Issue claim](https://www.w3.org/TR/verifiable-claims-use-cases/#issue-claim) says "Individuals and organizations need a way to issue claims about themselves or others that can be verified and trusted.". While there is a user task [Verify claim](https://www.w3.org/TR/verifiable-claims-use-cases/#verify-claim), there is no such thing for trusting claims. Here is a prop

[2019-05-08 06:33] RieksJ opened #96 "Add task 'Check revocation' and use-case that demonstrates its use/need"
The [VC Use-cases document](https://www.w3.org/TR/verifiable-claims-use-cases/) talks about the ability of issuers to revoke credentials that they issued, but it does not mention who should be able to check whether or not credentials are revoked. Here is a suggestion to fill in that gap

### [4.8 Check revocation](https://www.w3.org/TR/verifiable-claims-use-cases/#check-revocation)
**Requirement**

[2019-05-08 16:13] TallTed commented on #95
Without addressing the rest of this, please note that "inspector" is a deprecated term; these should all be changed to "verifier".

[2019-05-08 16:13] TallTed commented on #96
Without addressing the rest of this, please note that "inspector" is a deprecated term; these should all be changed to "verifier".

[2019-05-09 05:38] RieksJ opened #97 "Please note that "inspector" is a deprecated term; these should all be changed to "verifier"."
Without addressing the rest of this, please note that "inspector" is a deprecated term; these should all be changed to "verifier".

_Originally posted by @TallTed in https://github.com/w3c/vc-use-cases/issues/96#issuecomment-490550761_

[2019-05-09 12:54] anthonycamilleri opened #99 "Questions on sub-credentials"
Dear all,

I am working on an extension of the Verifiable Claims Data Model for the European Commission's Europass Project, which is creating a framework for digitally-signed credentials. More information available from the [project website](https://ec.europa.eu/futurium/en/europass/digitally-signed-credentials).

One of our use/cases involves creating credentials which are made up of other creden

[2019-05-09 18:05] agropper commented on #99
I have a related use-case in UMA where the Authorization Server is separate
from the Resource Server and could be a holder for the subject, Alice. This
is Alice-to-Bob authorization as opposed to Alice-to-Alice of typical Oauth.

In the UMA case,
(1) The developer of Bob's client issues a software statement which could
be a VC, to Bob as holder
(2) Bob issues a Dynamic Client Registration credenti

[2019-05-10 07:31] David-Chadwick commented on #99
@anthonycamilleri Each VC has a globally unique ID so that it can be referenced by other entities. So the degree issued by University X only needs to include the ids of the other VCs inside it. It does not need to include the VCs as well. The student will collect them all together in his/her VP. Consequently you simply need to define a new property for referencing these other VCs.

[2019-06-21 16:38] jandrieu commented on #99
This is a data modeling question. I would model this in the claims of the credential. It definitely isn't in the presentation, because those are created by the holder, so the university would be limited to issuing a new credential on its own authority.

However, whether you want to put this in evidence or make statements in the claim is mostly a design choice, with one big exception. Namely, that

[2019-06-21 16:38] #99 closed

[2019-06-21 17:02] stonematt commented on #96
We like this use case in general.  We have a similar focal use case that addresses the need for a verifier to reason over both a  "collection of credentials" and the need for a verifier to "confirm validity of a credential later" for ongoing business purposes. These concepts are covered in the Expert Diver Focal use case in pr #100

We propose closing this example and relying on the focal use case

[2019-06-28 16:48] #94 closed

[2019-06-28 16:48] #97 closed

[2019-06-28 16:51] jandrieu commented on #29
User account deleted from Github, creating IP provenance issues. Closing issue.

[2019-06-28 16:51] #29 closed

[2019-06-28 16:52] jandrieu commented on #28
User account deleted from Github, creating IP provenance issues. Closing issue.

[2019-06-28 16:52] #28 closed

[2019-06-28 16:53] jandrieu commented on #27
User account deleted from Github, creating IP provenance issues. Closing issue.

[2019-06-28 16:53] #27 closed

[2019-06-28 16:54] jandrieu commented on #26
User account deleted from Github, creating IP provenance issues. Closing issue.

[2019-06-28 16:54] #26 closed

[2019-06-28 16:54] jandrieu commented on #23
User account deleted from Github, creating IP provenance issues. Closing issue.

[2019-06-28 16:54] #23 closed

[2019-06-28 19:25] davidlehn commented on #28
@jandrieu: I'm not sure #23, #26, #27, #28, and #29 should be closed for the reason stated.  The possible use cases should still be tracked and addressed somehow even if the original submitter decided to leave github.  Those of us who have email notifications from when issues were created can track who these issues came from if that's an issue.

[2019-06-29 01:41] jandrieu commented on #28
At the moment, we aren't seeking new use cases. In our consideration of the ones already submitted, we can't verify the provenance because we don't know where they came from.

It's time to ship.

[2019-07-19 17:18] stonematt commented on #96
from PR #10
good catch. This process should be part of the Verify Claim task, rather than it's own task. A revocation and status check is part of the verification process, as stated in the Datamodel in section 5.1:

A verifier verifies the authenticity of the presented verifiable presentation and verifiable credentials. This should include checking the credential status for revocation of the verif

[2019-07-21 19:20] RieksJ commented on #96
@stonematt: While it's ok to have this process be part of the Verify Claim task, it should also be a task of its own. The reason is that part checking of verification properties has two components: one part is doing checks of which the outcome does not change over time, such as checking the signature. The other part consists of checks that may change in the course of time. That includes checking f

[2019-07-22 05:42] jandrieu commented on #96
@RieksJ There are a couple of challenges with incorporating your suggestions. The biggest is that the working group ends in a matter of weeks, so at this stage we simply can't entertain significant shifts, no matter how meritorious.

The second however, is that there really is no separation between the two tasks. The keys might also be revoked or rotated at any time, rendering the credential inval

[2019-07-22 06:15] RieksJ commented on #96
@jandrieu I cannot argue with your first argument.

I can however with the second, and

1. I do not agree that revoking/rotating keys should render credentials invalid. A signature in a credential is to be considered (in)valid if and only if the signature key was (in)valid at the time the signature was created. Otherwise, people could sign contracts and later not be bound by it simply by revoking/

[2019-08-02 17:13] stonematt opened #107 "Review Editor/Author section"
Need to review and Update Editor/Author section to verify it's correct.

[2019-08-02 17:26] stonematt opened #108 "review document for glossary/terms"
need to review the document for words that can reference terms

[2019-08-02 17:27] stonematt opened #109 "update diagrams"
review for terminology and update for accuracy if needed.

[2019-08-06 15:17] stonematt commented on #37
Not adding new new use cases at this point.  Propose Deferring.

[2019-08-06 15:19] stonematt commented on #48
@jandrieu.  We're past feature freeze on this document for new content. Discount and commerce concepts are in the Travel use case. Closing

[2019-08-06 15:19] #48 closed

[2019-08-06 15:21] stonematt commented on #52
@msporny do we have privacy issues address appropriately in the DataModel?

[2019-08-06 15:32] stonematt commented on #85
This is repaired in the current draft. documents

[2019-08-06 15:32] #85 closed

[2019-08-06 15:34] stonematt commented on #49
ping @jandrieu will we do this?

[2019-08-06 15:37] stonematt commented on #18
Terminology discussions are always challenging.  The working group spent significant time reviewing and selecting these terms. This represents the consensus of the group.

[2019-08-06 15:37] #18 closed

[2019-08-06 15:49] stonematt commented on #92
Amending a VC isn't supported.  An issuer can issue a new VC, revoke an existing VC or update the Status through the Status method.  A holder may combine more than one VC into a Verifiable Presentation (VP), or selectively disclose components, if the VC supports that.

[2019-08-06 15:49] #92 closed

[2019-08-06 15:53] stonematt commented on #19
Updating the needs map figure covered in issue #109

We've past feature freeze on this document.  Focusing on editorial changes.  Accepting the current use cases as representative unless a specific new text is submitted (such as the current IOT example)

@jandrieu closing

[2019-08-06 15:53] #19 closed

[2019-08-06 15:53] stonematt commented on #34
@jandrieu proposing we defer this

[2019-08-06 17:46] msporny commented on #52
Yes, I believe we do:

https://w3c.github.io/vc-data-model/#privacy-considerations

[2019-08-06 21:14] jandrieu commented on #34
Hmm.. We should just close it. I'm not sure why I reopened it.

[2019-08-09 16:11] jandrieu commented on #10
Addressed in PR https://github.com/w3c/vc-use-cases/pull/17

[2019-08-09 16:11] #10 closed

[2019-08-09 16:16] #13 closed

[2019-08-09 16:17] jandrieu commented on #24
Thanks for the list, that definitely helped with the development of the new focal use cases.

[2019-08-09 16:17] #24 closed

[2019-08-09 16:19] jandrieu commented on #25
Agreed. None of those TERMS are currently referenced in the use cases.

[2019-08-09 16:19] #25 closed

[2019-08-09 16:26] jandrieu commented on #30
Unfortunately, restructuring as proposed by me in January of 2017 ended up being more work than sensible.

[2019-08-09 16:26] #30 closed

[2019-08-09 16:29] jandrieu commented on #31
This work advanced through the Amira engagement model: https://github.com/WebOfTrustInfo/rwot5-boston/blob/master/final-documents/amira.md

Some lessons learned were incorporated into the new Focal Use Cases section.

[2019-08-09 16:29] #31 closed

[2019-08-09 16:42] jandrieu commented on #32
We incorporate a threat model into the new Focal Use Cases section, which partially addresses the issues of privacy and dignity. We agree with the importance of privacy and dignity, but I see them as integral to all use cases: we don't have particular use cases focused on either.

[2019-08-09 16:42] #32 closed

[2019-08-09 16:43] #34 closed

[2019-08-09 16:46] jandrieu commented on #35
The working group and editors went through a variation on this proposed process over the last year plus, which led to the creation of the Focal Use Cases section and some additional use cases (a few still in process).

[2019-08-09 16:46] #35 closed

[2019-08-09 16:50] jandrieu commented on #36
I think preservation is out of scope, in that VCs don't do anything different than any other digital object. It's up to the holders to manage preservation in their storage choices.

[2019-08-09 16:50] #36 closed

[2019-08-09 16:57] jandrieu commented on #49
Discussions about wallets continue, including insights about the distinction between a wallet and a repository. However, we don't yet have enough consensus to channel those discussions into the use cases document at this time.

[2019-08-09 16:57] #49 closed

[2019-08-09 20:18] TallTed commented on #10
@jandrieu @stonematt - #17 appears to have been closed without being merged? At least, github doesn't say it was merged. So I'm not sure this (#10) should have been closed as addressed there (#17).

[2019-08-30 15:55] #108 closed

[2019-08-30 16:09] jandrieu commented on #37
Let's defer. I like this use case, but we'll have to leave it to the next round.

[2019-08-30 16:15] jandrieu commented on #89
This was incorporated (PR# lost to antiquity)

[2019-08-30 16:15] #89 closed

[2019-08-30 16:40] jandrieu commented on #74
Done by direct commit https://github.com/w3c/vc-use-cases/commit/1f583db2b331d2f2dc98995854262641438a42ec

[2019-08-30 16:40] #74 closed

[2019-08-30 16:41] jandrieu commented on #96
Deferred without prejudice. We like the intention of the clean up, but weren't able to work through the proposed PR before we hit our deadline.

[2019-08-30 16:44] jandrieu commented on #90
This feedback was folded into the Focal Use Case section, where we did a deeper dive on three specific uses, addressing the threat model of each, without presuming to present a complete threat model (neither of a given use case nor of VCs in general)

[2019-08-30 16:44] #90 closed

[2019-08-30 22:48] kjetilk commented on #37
OK! I hope you get to it at some point.

[2019-10-01 11:57] Toni100 opened #120 "typo in section "L.4 Refugee crisis""
"She is able to retrieve this because it is available from many places _often_ the Internet."
"often" should probably read "over".

[2020-08-04 11:57] mehranshakeri opened #121 "Question regarding verifiable credential creation flow implementation"
In [section 6.1 of VC use cases](https://www.w3.org/TR/vc-use-cases/#how-a-verifiable-credential-might-be-created) and afterwards in 6.2 for usage of VCs, no write transaction to a [registry](https://www.w3.org/TR/did-core/#dfn-verifiable-data-registry) is required.

Based on my understanding, only when the issuer needs to revoke a VC, there should be a transaction to the registry revoking that cr

[2020-08-11 07:55] #121 closed

[2021-03-14 18:28] djjonbrown opened #122 "User Agent not defined"
The term "User Agent" is used in **Section 6 User Sequences** without being defined.

[2021-08-12 20:03] bumblefudge opened #124 "Section 4 diagram includes "amend claim""
but word "amend" doesn't appear in VC Data model.  might be worth doing a quick prune of any mention of amend from both diagram and any use-cases where it is essential 😬 .

(on call with Joe as I type this)

[2021-08-17 07:26] RieksJ opened #125 "Do we need distinct use-cases for verification and validation?"
I just read @jandrieu's post of Monday 16-8-2021, 32:16 CEST to the Credentials Community Group (I have no clue about a link to make it easier to reference), called "Diagrams for VC HTTP API work", in which he included the following diagram for the issuance of credentials:

![image](https://user-images.githubusercontent.com/8522589/129680148-8933b2cf-914d-4012-bfc3-f9cbc2c19d58.png)

What I find n

[2022-09-16 20:45] thereisnogabe opened #126 "Expand on Use Cases for Multi Party Credentials"
Related to:
- https://github.com/w3c/vc-data-model/issues/930
- https://github.com/w3c/vc-data-model/issues/931
- https://github.com/w3c/vc-data-model/issues/932

The second (multiple subjects) is all that's _officially_ supported today.

I'd like to see some good multi-subject credentials have a place in the use case doc. Candidates:

- Marriage certificate (the example in the vc-data-model today

[2022-09-16 20:46] decentralgabe commented on #126
cc: @jandrieu @OR13 @msporny